@use "sass:color";
@use "@/styles/variables/colors";

// Colors
$glass-background-color: color.change(colors.$slate, $alpha: 0.45);
$glass-border-color: color.change(colors.$white, $alpha: 0.08);

// Shadows
$glass-internal-brightness: inset 0 0 15px color.change(colors.$white, $alpha: 0.03);
