@use '@/styles/variables/colors' as *;
@use '@/styles/variables/shadows' as *;

.g-glass {
  display: inline-block;
  position: relative;
  padding: 0;
  border-radius: 1rem;
  background-color: rgb($background, 75%);
	backdrop-filter: blur(1rem) saturate(180%);
  border: 1px solid rgb($white, 12.5%);
  box-shadow: $internal-brightness;
}
