@use "./variables";

.g-glass {
  display: inline-block;
  position: relative;
  padding: 0;
  border-radius: 1rem;
  background-color: variables.$card-background-color;
  backdrop-filter: blur(1rem) saturate(180%);
  border: 1px solid variables.$card-border-color;
  box-shadow: variables.$card-internal-brightness;
}
