@use "./tokens/raw/colors";
@use "./tokens/raw/fonts";
@use "./globals";

:root {
  font-family: fonts.$typeface;
}

.g-body {
  overflow: hidden;

  a {
    color: globals.$links-color;

    &:visited {
      color: globals.$links-visited-color;
    }
  }
}
