@use "@/styles/tools";
@use "@/styles/variables/typography";

// Header
$card-header-font-size: tools.map-deep-get(typography.$typography, "h6", "size");
$card-header-font-weight: tools.map-deep-get(typography.$typography, "h6", "weight");
$card-header-letter-spacing: tools.map-deep-get(typography.$typography, "h6", "letter-spacing");
$card-header-line-height: tools.map-deep-get(typography.$typography, "h6", "line-height");
$card-header-padding: 1rem 1rem 0;

// Subtitle
$card-subtitle-font-size: tools.map-deep-get(typography.$typography, "body-2", "size");
$card-subtitle-font-weight: tools.map-deep-get(typography.$typography, "body-2", "weight");
$card-subtitle-letter-spacing: tools.map-deep-get(typography.$typography, "body-2", "letter-spacing");
$card-subtitle-line-height: tools.map-deep-get(typography.$typography, "body-2", "line-height");
$card-subtitle-opacity: 0.6;
$card-subtitle-padding: 0 1rem;

// Content
$card-content-font-size: tools.map-deep-get(typography.$typography, "body-2", "size");
$card-content-font-weight: tools.map-deep-get(typography.$typography, "body-2", "weight");
$card-content-letter-spacing: tools.map-deep-get(typography.$typography, "body-2", "letter-spacing");
$card-content-line-height: tools.map-deep-get(typography.$typography, "body-2", "line-height");
$card-content-padding: 1rem;
