@use "@/styles/tools";
@use "@/styles/tokens/raw/colors";
@use "@/styles/tokens/settings/fonts";

// Colors
$text-color: colors.$gray-100;

// Body
$card-body-padding: 1rem;

// Subtitle
$card-subtitle-opacity: 0.6;

// Actions
$card-actions-padding: 0 1rem 1rem 1rem;
$card-actions-gap: 0.4rem;
