@use "sass:color";
@use "@/styles/tools";
@use "@/styles/tokens/raw/colors";
@use "@/styles/tokens/settings/fonts";

// Overlay
$overlay-color: color.change(colors.$gray-900, $alpha: 0.5);
$overlay-transition: opacity 0.3s ease;

// Modal
$modal-margin: 3rem;
$modal-min-width: 30rem;
$modal-mobile-margin: 1rem;
$modal-text-color: colors.$gray-100;
$modal-transition: all 0.3s ease;

// Header
$modal-header-padding: 0.3rem 2rem;
$modal-header-border-bottom: 1px solid colors.$gray-700;

// Content
$modal-content-padding: 1.5rem 2rem;
